*.s3cfg*
.ipynb_checkpoints/
*.npz
*.zip
tf_files/
localMac/
*.docx
*.numbers
.cache/
.ipython/
.local/
data/
workingdir/
.keras*
.bash_history*
.python_history*
.viminfo
.DS_Store
.nv*
image_files/
videos/
